MONGODB_URI=mongodb://127.0.0.1:27017/indian-public-school
DEFAULT_ADMIN_EMAIL=admin@indianpublicschool.in
DEFAULT_ADMIN_PASSWORD=Admin@123456
JWT_SECRET=super_secret_ips_admin_jwt_token_key_2026
JWT_EXPIRES_IN=7d
STORAGE_PROVIDER=cloudinary
CLOUDINARY_CLOUD_NAME=niefrrkx
CLOUDINARY_API_KEY=9876543234567
CLOUDINARY_API_SECRET=lkjhgfdsdfgpoiuyt
